discord~=2.3.2
python-dotenv~=1.0.0
python-valve
requests~=2.31.0
PyMySQL~=1.1.0
pillow~=10.2.0
selenium~=4.16.0
mysql-connector-python~=8.3.0
pycountry~=23.12.11
Flask~=3.0.0
pytz~=2023.3.post1
python-steam-api~=1.2.2
beautifulsoup4